---
import Projetos from "../constants/Projetos";
import RodapeTopico from "./RodapeTopico.astro";




---

<footer class="bg-gray-700 mt-12">
    <div class="bg-purple-500 p-4 text-white text-xl font-bold">
        <h4 >@Desenvolvido por: João Lucas Silva Lopes</h4>
    </div>
    <div class="justify-around flex p-1">
        <RodapeTopico titulo="contanto" itens={[ { conteudo: "github", link: "https://github.com/Joao-Lucas-Si" },
            {conteudo: "linkedin", link: "https://www.linkedin.com/in/jo%C3%A3o-lucas-silva-lopes-b629a0286/"},
            { conteudo: "email: joao6lucas2168@gmail.com", link: "mailto:joao6lucas2168@gmail.com" }
         ]} />
        <RodapeTopico titulo="projetos" itens={Projetos.map(projeto => ({ conteudo: projeto.nome, link: projeto.link }))} />
    </div>
</footer>